.vh100 {    
  height: 100vh;
}
h1 {
color: white;
font-style: italic;
}
img, .carrusel {
  height: 20vh;
  margin-top: 1em;
}
#imgModal {
  height: auto;
}
.formulario1, .download{
  padding: 2em;
}
.formulario {
  padding: 2em;
  color: white;
}

.text1 {
  background-color :rgb(239, 244, 245);
  padding: 2em;
  border : 2px solid #000099;;
  border-radius : 6px;
  font-size: 20px;
  font-weight: 400;   
}
.download1 {
  padding: 2em;
  background-color :rgb(214, 218, 219);
  border : 2px solid #000099;;
  border-radius : 6px;
}
header {
  background : linear-gradient(to bottom, #000099 0%, #0099ff 100%);
  padding: 3em;
}
@media (min-width: 1280px) {
 
  header {
      padding: 3em;
  }
  img, .carrusel {
    height: 40vh;
    margin-top: 1em;
}
}