
.porcent100{
  width: 100%;
}
h1 {
  margin-right: 681px;
  color: white;
  font-style: italic;
}
h2 {
  margin-left: 47px;
  color: blue;
}
.color {
  background-color: lightgray;
}
h3 {
  color: #000099;
}
.formulario1 {
  height: 60vh;
  width: 40%;
  margin-top: 7em;
  border-radius: 6px;
  border: 2px solid #000099;
  margin-left: 400px;
  padding: 2em 0;
  background-color: lightgray;   
}
.formulario {
  height: 60vh;
  width: 40%;
  margin-top: 7em;
  border-radius: 6px;
  border: 2px solid #000099;
  margin-left: 400px;
  padding: 2em 0;
}
img, .carrusel {
  height: 20vh;
  margin-top: 1em;
}
.navbar, .modal-header, .modal-footer {
  background: linear-gradient(to bottom, #000099 0%, #0099ff 100%);
}

.carousel-indicators li {
background: none !important;
}
.carousel-indicators .active {
  background: none !important;
}
#imgModal {
  height: auto;
}
@media (min-width: 1280px) {
  img , .carrusel {
    height: 40vh;
    margin-top: 3em;
  }
  .formulario {
    margin-top: 5em;
    margin-left: 350px;
  }
  
  .navbar {
    height: 10vh;
  }
 h1{
  margin-right: 681px;
 }
 h2{
 margin-left: 345px;
 color: blue;
 }
}
