.vh100 {
  height: 100vh;
}

.carrusel {
  margin-top: 1em;
}
#imgModal {
  height: auto;
}
.formulario1, .download{
  padding: 2em;
}
.formulario {
  padding: 2em;
  color: white;
}
main {
  background: linear-gradient(to left, #33cccc 64%, #006699 100%);
  height: 100vh;
}
section .container, section .container2 {
  background: linear-gradient(to right, #33cccc 64%, #006699 100%);
}
section {
  background: linear-gradient(to left, #33cccc 64%, #006699 100%);
}
p {
  font-size: 15px;
  color: midnightblue;
}
.text1 {
  background: transparent;
  padding: 2em;
  border : 2px solid white;
  border-radius : 6px;
}
.download1 {
  padding: 2em;
  background: linear-gradient(to top left, #66ffff 0%, #ffffff 100%)!important;
  border : 2px solid #000099;
  border-radius : 6px;
}
li {
  list-style: none;
}
header a {
  color :linear-gradient(to bottom, #000099 0%, #0099ff 100%);
  font-size: 20px;
}
a {
  text-decoration: none !important;
}
header .imagHeader {
  height: 500px;
  background-image: url("../assets/images/visa3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
 
}
header .imag {
  /*background : linear-gradient(to bottom, #000099 0%, #0099ff 100%);*/
  background:  rgba(0, 0, 0, 0.4);  
  color: white;
}

h3{
  color: white;
}
.modal-header, .modal-footer {
  background : linear-gradient(to bottom, #000099 0%, #0099ff 100%);
  padding: 2.5em;
}
.btnDemo1 {
  color: white;
  border: 3px solid white;
  padding: 1em;
  border-radius:25px;
  margin-top:4em;
  margin-bottom:4em;
}
#pageFooter {
  background: white;
}
.ancho {
  width: 100%;
  height: 335px;
}
@media (min-width: 1280px) {
p {
  font-size: 20px;
}
.ancho {
  height: 335px;
}
}
